body {
    margin: 0;
    background-color: black;
}

#root {
    margin: auto;
    text-align: center
}

#root h1 {
    font-family: Consolas, monospace;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid slategray;
}